.gradient-text {
    background: linear-gradient(0deg, #EE6C4D 0%, #ec795c 50%, #eb8e77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mesh-gradient-center {
    position: relative;
}

.mesh-gradient-center:after {
    content: "";
    position: absolute;
    top: 20%;
    right: 35%;
    width: 700px;
    height: 60%;
    z-index: -1;
    background-image: var(--mesh-gradient);
    filter: blur(100px);
    will-change: transform;
    transform: translateZ(0);
}
