.home-wrapper {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

.home-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    min-height: 50vh;
}

.container-home {
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.homeName {
    padding-left: 50px;
    position: absolute;
    top: 0;
    padding: 50px;
    font-size: clamp(1rem, 4vw, 3em);
    font-weight: bold;
}

.homeEmail {
    padding-left: 50px;
    color: #EE6C4D;
    font-weight: bold;
    text-decoration: underline;
}

.homeCv {
    position: absolute;
    bottom: 0;
    margin: 50px;
    margin-bottom: 100px;
    background-color: #F2F3E7;
    border-color: #095550;
    border-width: 2px;
}

.containter-home-rigth {
    width: 50%;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.homePhrase {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 50px 50px;
    text-align: left;
}

.homeDescription {
    position: absolute;
    bottom: 0;
    right: 50px;
    padding: 50px 50px;
}

.homeCodeXmlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    background-color: #F2F3E7;
    border-color: #095550;
    border-width: 3px;
}

.homeCodeXmlButton svg {
    width: 2rem;
    height: 2rem;
    color: #095550;
}

