.contact-wrapper {
    padding: 3rem 13rem;
}


.contact-container {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 0.8rem;
    padding: 3rem;
}

.contact-top {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.contact-redes {
    color: white;
}


/* TITTLE */

.contact-tittle h2 {
    font-size: 3rem;
    line-height: 1;
    text-align: left;
    color: #EE6C4D;
    font-weight: 700;
}

.contact-tittle p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
}

.contact-tittle {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}


/* Form*/
.contact-email {
    width: 500px;
    margin-right: 3rem;
}

.contact-form {
    background: rgba(0, 0, 0, 0.35);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.contact-form label {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0.2rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.5rem;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.contact-form textarea {
    min-height: 80px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.send-btn {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    padding: 0.5rem 0.9rem;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color .15s ease, 
    border-color .15s ease, 
    color .15s ease;
}

.send-btn:hover {
    background-color: rgba(255, 255, 255, 0.15); /* white/10 */
    border-color: rgba(255, 255, 255, 0.20);     /* white/20 */
}

/* REDES */

.contact-redes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    gap: 3rem;
    padding-top: 3rem;
    justify-content: center;
}

.contact-redes a {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
  
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
  
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  
    transition: all 0.25s ease;
    width: fit-content;
}

.contact-redes a:hover {
    background-color: rgba(255, 255, 255, 0.15); /* white/10 */
}